<div class="row">
  <div class="col-xs-9" id="gamescreen"></div>
  <script>
    <%= render partial: 'phaser/variables.js.erb' %>
    <%= render partial: 'phaser/preload.js.erb' %>
    <%= render partial: 'phaser/spawn_player.js.erb' %>
    <%= render partial: 'phaser/create.js.erb' %>
    <%= render partial: 'phaser/update.js.erb' %>
    <%= render partial: 'multiplayer/movement.js.erb' %>
    <%= render partial: 'multiplayer/chat.js.erb' %>
    <%= render partial: 'multiplayer/joined.js.erb' %>
  </script>
  <div class="col-xs-3">
    <div id='messagebox'>
    <table class='table table-striped'>
      <tbody>
      <% @messages.each do |x| %>
        <tr>
          <td><%= x.name %></td> 
          <tr>
            <td><%= x.content %></td>
          </tr>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
   
    
    
    <%= form_for :message, url: new_message_path, method: 'post', html: {id: 'chatform'}, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>